# Python cache
__pycache__/
*.py[cod]

# Django migrations
**/migrations/

# SQLite database
*.sqlite3

# Environment variables
.env

# Machine learning models and data
*.pkl

# Logs
*.log

# System files
.DS_Store
Thumbs.db


# IDE/editor-specific files
.vscode/
.idea/
models/
